<!--
 * @Author: FYWindIsland
 * @Date: 2021-08-20 16:16:19
 * @LastEditTime: 2021-08-21 17:41:33
 * @LastEditors: FYWindIsland
 * @Description: 
 * I'm writing SHIT codes
-->
<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        #datatable {
            border: 1px solid #ccc;
            border-collapse: collapse;
            border-spacing: 0;
            font-size: 12px;
        }

        td,
        th {
            border: 1px solid #ccc;
            padding: 4px 20px;
        }
    </style>
    <script src="../static/js/highcharts.js"></script>
    <script src="../static/js/modules/data.js"></script>
</head>

<body>
    <div id="container" style="max-width: 800px; min-height: 600px; margin: 0 auto"></div>
    <script>
        var chart = Highcharts.chart('container', {
            chart: {
                type: 'bar'
            },
            title: {
                text: '群 521656488 本月插件调用统计'
            },
            xAxis: {
                categories: ['问答', '每日签到', '随机pixiv美图', '插件调用统计'],
                title: {
                    text: null
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: '调用次数',
                    align: 'high'
                },
                labels: {
                    overflow: 'justify'
                }
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: false,
                        allowOverlap: true // 允许数据标签重叠
                    }
                },
                series: {
                    animation: false
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -40,
                y: 100,
                floating: true,
                borderWidth: 1,
                backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                shadow: true,
                enabled: false
            },
            series: [{
                name: '2021-08',
                data: [2, 1, 9, 23]
            }]
        });
    </script>
</body>

</html>