<!--
 * @Author: FYWindIsland
 * @Date: 2021-08-11 18:08:53
 * @LastEditTime: 2021-08-12 08:54:10
 * @LastEditors: FYWindIsland
 * @Description: 
 * I'm writing SHIT codes
-->
<html>

<head>
    <title>签到卡片样式1</title>
    <link rel="stylesheet" type="text/css" href="static/css/card1.css">
</head>

<body>
    <div class="card">
        <div class="head-image"
            style="background-image: url(https://file.alapi.cn/image/comic/184605-15430563659a8e.jpg);"></div>
        <div class="daytime">
            <div class="month">OCT</div>
            <div class="day">11</div>
            <div class="weekday">WED</div>
        </div>
        <div class="luck">
            <div class="tag">凶带吉</div>
            <div class="star">★★★☆☆☆☆</div>
            <div class="note">半凶半吉，浮沉多端，始凶终吉，能保成功</div>
        </div>
        <!-- <div class="story">
            <div class="type">网易云音乐热评:</div>
            <div class="content">每个人的心里，都有一个忘不记，却无法拥抱珍惜的人。</div>
            <div class="author">青羊</div>
        </div> -->
        <div class="foot">
            <div class="copyright">@Takker-bot</div>
            <div class="from">Content from 一言</div>
        </div>
    </div>
</body>

</html>