<!--
 * @Author: FYWindIsland
 * @Date: 2021-08-11 20:17:29
 * @LastEditTime: 2021-08-15 10:51:22
 * @LastEditors: FYWindIsland
 * @Description: 
 * I'm writing SHIT codes
-->

<head>
    <link rel="stylesheet" type="text/css" href="static/css/card2.css">
</head>

<body>
    <div id="card">
        <div class="image"><img src="[acg_url]" alt="图片丢失" />
        </div>
        <div class="stats">
            <div class="stats-container">
                <span class="day-time">[day_time]</span>
                <span class="time">早早早</span>
                <p>@[user_name] 积分+[points]</p>

                <div class="stick">
                    <strong>[luck-status]</strong>
                    <span>[star]</span>
                    <strong>短评</strong>
                    <div class="comment">[comment]</div>
                    <div class="resolve">解签: [resolve]</div>
                </div>
                <div class="dnt">随机生成，请勿迷信</div>
                <div class="copyright">@Takker生成</div>
            </div>
        </div>
    </div>
</body>