<!--
 * @Author: FYWindIsland
 * @Date: 2021-08-11 20:17:29
 * @LastEditTime: 2021-08-15 10:51:22
 * @LastEditors: FYWindIsland
 * @Description: 
 * I'm writing SHIT codes
-->

<head>
    <link rel="stylesheet" type="text/css" href="../static/css/card2.css">
</head>

<body>
    <div id="card">
        <div class="image"><img src="https://file.alapi.cn/image/comic/122514-15234207140623.jpg" alt="图片丢失" />
        </div>
        <div class="stats">
            <div class="stats-container">
                <span class="day-time">08/15</span>
                <span class="time">早早早</span>
                <p>@风屿 积分+20</p>

                <div class="stick">
                    <strong>大吉+财运</strong>
                    <span>★★★★★★☆</span>
                    <strong>短评</strong>
                    <div class="comment">草木逢春，雨过天晴，渡过难关，即获成功</div>
                    <div class="resolve">解签: 先见机明察佳期，意志坚固好运时，功名利达福禄全，一世荣隆乐绵绵。</div>
                </div>
                <div class="dnt">随机生成，请勿迷信</div>
                <div class="copyright">@Takker生成</div>
            </div>
        </div>
    </div>
</body>