<!--
 * @Author: FYWindIsland
 * @Date: 2021-08-11 20:17:29
 * @LastEditTime: 2021-08-15 10:51:22
 * @LastEditors: FYWindIsland
 * @Description: 
 * I'm writing SHIT codes
-->

<head>
    <link rel="stylesheet" type="text/css" href="../static/css/card2.css">
</head>

<body>
    <div id="card">
        <div class="image"><img src="https://file.alapi.cn/image/comic/154330-1523605410cbfb.jpg" alt="图片丢失" />
        </div>
        <div class="stats">
            <div class="stats-container">
                <span class="day-time">08/19</span>
                <span class="time">早早早</span>
                <p>@风屿 积分+9</p>

                <div class="stick">
                    <strong>凶</strong>
                    <span>★☆☆☆☆☆☆</span>
                    <strong>短评</strong>
                    <div class="comment">吉凶参半，得失相伴，投机取巧，如赛一样</div>
                    <div class="resolve">解签: 没有做太多对他人有价值的事情，导到一生来所做的事有如博彩，投机取巧，来得快也去得快，没有多少剩余，命运也在输赢之间转变。</div>
                </div>
                <div class="dnt">随机生成，请勿迷信</div>
                <div class="copyright">@Takker生成</div>
            </div>
        </div>
    </div>
</body>