<!--
 * @Author: FYWindIsland
 * @Date: 2021-08-11 20:17:29
 * @LastEditTime: 2021-08-12 14:00:00
 * @LastEditors: FYWindIsland
 * @Description: 
 * I'm writing SHIT codes
-->

<head>
    <link rel="stylesheet" type="text/css" href="../static/css/card2.css">
</head>

<body>
    <div id="card">
        <div class="image"><img src="https://file.alapi.cn/image/comic/192259-1545564179e49c.jpg" alt="图片丢失" />
        </div>
        <div class="stats">
            <div class="stats-container">
                <span class="day-time">08/12</span>
                <span class="time">早早早</span>
                <p>@风屿</p>

                <div class="stick">
                    <strong>中吉</strong>
                    <span>★★★★☆☆☆</span>
                    <strong>短评</strong>
                    <div class="comment">努力经营，时来运转，旷野枯草，春来花开</div>
                    <div class="resolve">解签: 寒雪青松性刚强，一度祸难过灾殃，将此发达利亨通，晚景繁荣福无疆。</div>
                </div>
                <div class="dnt">随机生成，请勿迷信</div>
                <div class="copyright">@Takker生成</div>
            </div>
        </div>
    </div>
</body>